body{
   font-family:'Courier New', Courier, monospace;
  
}

a{
    color: #333333;
}

.nav-link:hover{
    text-decoration: underline;
    color: #333333;
}

.active{
    text-decoration: underline;
}

.nav-link{
    padding: 0.2em;
}

.projectItems{
    margin-left: 1rem;
  
}

.projectItems a{
    color: #777777;
}

.projectItems .active{
    color: #333333;
}

.burger{
    display: none;
 }


 /* hover on thumbnail to highlight nav */





@media (max-width:992px){
 .projectList{
     display: none;
 }

 .burger{
    display: block;
 }
}

    
.bg-info{
    min-height: 1000px;
}


